@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color-black{
    background-color: #000;
}
.bg-color-white{
    background-color: #fff;
}

.tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

@tailwind utilities;

@layer base {
    
    @font-face {
        font-family: iranSans;
        font-weight: normal;
        font-style: normal;
        src: url('../assets/fonts/iran-sans/IRANSansWeb.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: iranSans;
        font-weight: 100;
        font-style: normal;
        src: url('../assets/fonts/iran-sans/IRANSansWeb_UltraLight.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: iranSans;
        font-weight: 200;
        font-style: normal;
        src: url('../assets/fonts/iran-sans/IRANSansWeb_Light.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: iranSans;
        font-weight: 200;
        font-style: normal;
        src: url('../assets/fonts/iran-sans/IRANSansWeb_Light.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: iranSans;
        font-weight: 300;
        font-style: normal;
        src: url('../assets/fonts/iran-sans/IRANSansWeb_Medium.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: iranSans;
        font-weight: 500;
        font-style: normal;
        src: url('../assets/fonts/iran-sans/IRANSansWeb_Bold.ttf');
        font-display: swap;
    }

    @font-face {
        font-family: iranSans;
        font-weight: 800;
        font-style: normal;
        src: url('../assets/fonts/iran-sans/IRANSansWeb_Black.ttf');
        font-display: swap;
    }
}

@layer utilities {
    .ltr {
        direction: ltr;
    }
    .rtl {
        direction: rtl;
    }

    .B-Homa {
        font-family: iranSans;
        font-weight: 200;
        font-style: normal;
        src: url('../assets/fonts/BHoma/BHoma.ttf');
        font-display: swap;
    }

    .drop-cap::first-letter {
        @apply text-3xl font-bold float-left mr-3 text-color-theme;
    }
}